
services:
  userservice:
    build: backend/userservice
    env_file:
      - env/.env
    ports:
      - "8000:8000"
    depends_on:
      - userdb
        
  userdb:
    image: postgres
    restart: always
    secrets:
      - db-password
    volumes:
      - user-db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=userservicedb
      - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
    ports:
      - "5432:5432"

  cinemaservice:
    build: backend/cinemaservice
    env_file:
      - env/.env
    ports:
      - "8001:8001"
    volumes:
      - cinema-sqlite-data:/root/data
    depends_on:
      - cinemadb
 
  cinemadb:
    image: postgres
    restart: always
    secrets:
      - db-password
    volumes:
      - cinema-db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=cinemaservicedb
      - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
    ports:
      - "5433:5432"

  bookingservice:
    build: backend/bookingservice
    env_file:
      - env/.env
    ports:
      - "8002:8002"
    depends_on:
      - bookingdb

  bookingdb:
    image: mongo
    restart: always
    volumes:
      - booking-db-data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=bookingservicedb
    ports:
      - "27017:27017"

  reactapp:
    build: 
      context: frontend
      args:
        - VITE_API_BASE_URL=${VITE_API_BASE_URL} 
    volumes:
      - react-build:/app/dist
    depends_on:
      - proxy
    env_file:
      - env/fe.env
    ports:
      - "3000:80"

  proxy:
    build: proxy
    ports:
      - 80:80
    volumes:
      - react-build:/usr/share/nginx/html
    depends_on: 
      - userservice
      - cinemaservice 
      - bookingservice

volumes:
  user-db-data:
  cinema-db-data:
  booking-db-data:
  cinema-sqlite-data:
  react-build:

secrets:
  db-password:
    file: env/db-password.txt
